if [[ -e "$(direnv_layout_dir)/.guix-profile/etc/profile" ]]; then
    unset GUIX_PROFILE
    source "$(direnv_layout_dir)/.guix-profile/etc/profile"
else
    mkdir -p "$(direnv_layout_dir)"
    eval "$(guix shell --root="$(direnv_layout_dir)/.guix-profile" --manifest=manifest.scm --search-paths)"
fi
